.aside-menu{
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.aside-menu li{
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  
}
.aside-menu li:hover{
  background: #fff;
  color: skyblue;
}
.aside-menu li a{
  text-decoration: none;
  color: inherit;
}